body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-family: "Spartan", sans-serif;
    background-image: url('../assets/cover.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: repeat;
  }

  .side {
    width: 40vh;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #71CDDC;
    opacity: 0.8;
  }

  h1 {
    font-family: 'MuseoModerno', cursive;
    font-size: 100px;
    color: white;
    background-color: #CDB3D6;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  h2 {
    font-family: 'MuseoModerno', cursive;
    font-size: 60px;
  }
  p {
    font-family: 'MuseoModerno', cursive;
    font-size: 20px;
  }
  .line {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  #next-element img {
    height: 120px;
  }
  .container > div {
    display: flex;
    justify-content: flex-start;
  }

  .game {
    z-index: -1;
  }
  .opening-screen {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-image: url('../assets/gameboy.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0px;
    left: 0px;
  }
  .content-container {
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F3F08D;
    border-radius: 25px;
    opacity: 0.7;
    margin: 100px;
  }
  .explenation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .explenation-content {
    font-family: 'MuseoModerno', cursive;
    font-size: 18px;
    line-height: 1.5;
  }
  .content-container > p {
    background-color: #CDB3D6;
    padding: 10px;
    border-radius: 10px;
    opacity: 2;
    box-shadow: 10px 10px #71CDDC;
  }
  .explenation img {
    width: 10vw;
  }
  .game-over {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #CDB3D6;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .game-over p {
    font-size: 30px;
    color: #F3F08D;
  }
  .transparent {
    opacity: 0;
  }